POSTGRES_DB="order_service"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
DATABASE_URL="postgresql://postgres:postgres@localhost:5439/order_service?schema=public"
HOST="172.16.43.169"
PORT="3001"
FOOD_SERVICE_URL="http://174.16.43.174:3003"
USER_SERVICE_URL="http://172.16.42.129:3000"
